.main-container{
    width: 100%;
    height: 100vh;
    display: flex;
}
.left-container{
    width: 46%;
}
.right-container{
    width: 54%;
    background-color: #FD5334;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    width: 100%;
    height: 8%;
    background-color: #7025FB;
    display: flex;
    color: white;
    padding: 24px;
    font-size: 20px;
    padding-left: 50px;
    font-family: 'Nunito';
}
header img{
    width: 15px;
    height: 19px;
    margin-right: 5px;
}
.img{
    background-image: url(../photos/Landing\ page-\ scrolling\ photo.png);
    width: 100%;
    height: 92%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.text-container{
    text-transform: uppercase;
    color: white;
    font-size: 65px;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    margin-left: -80px;
}
.text-line01{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.text-line01 p{
    font-size: 15px;
    color: black;
    margin-left: 25px;
}
.button-getStarted{
    height: 40px;
    padding: 20px 20px;
    background-color: #212529;
    color: white;
    border-radius: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 120px;
    border: 4px solid #212529;
    transition: all 0.3s;
}
.button-getStarted img{
    margin-left: 7px;
}

.button-getStarted:hover{
    border: 4px solid #C2A5F9CC;
}
/* personal information */

.img-personalInfo{
    background-image: url(../photos/BGphoto-personalinfo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote{
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 55px;
    font-size: 30px;
    margin-top: -340px;
    margin-left: -70px;
}
.author{
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: right;
}
.right-container-personalInfo, .right-container-chessExp{
    width: 54%;
}
.header-text{
    font-family: Open Sans;
    border-bottom: 1px solid #B9B4C3;
    padding: 24.5px 42px;
}
.inner-container{
    margin-left: 50px;
    margin-top: 70px;
}
.steps-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 52px;
    margin-bottom: 5px;
}
.one{
    border: 1px solid #E5E6E8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    font-size: 18px;
}
.line{
    width: 170px;
    height: 1px;
    background-color: #B9B4C34D;
    margin: 0px 4px;
}
.two{
    border: 1px solid #E5E6E8;
    color: #95939A;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    font-size: 18px;
}
.text-of-steps{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    font-family: 'Open Sans';
    font-size: 16px;
}
.title-container{
    margin-top: 80px;
    margin-bottom: 70px;
    font-family: 'Open Sans';
    font-weight: 600;
}
.title{
    font-size: 32px;
    margin-bottom: 7px;
}
.small-text{
    font-size: 14px;
    color: #95939A;
}
/* form */
.personalinfo-form .input{
    font-family: 'Open Sans';
    width: 80%;
    padding: 8px 16px;
    margin-top: 25px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(212, 210, 210);
    font-size: 20px;
    transition: all 0.1s;
}
.personalinfo-form .input:hover{
    background-color: rgb(248, 245, 245);
}
.personalinfo-form .input:focus{
    background-color: rgb(221, 221, 221);
}
.personalinfo-form .input::placeholder{
    color: black;
    font-size: 16px;
}

.form-buttons{
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}
.back-button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Open Sans';
    background-color: white;
    color: black;
    border-radius: 8px;
    border: 2px solid black;
    padding: 7px 16px;
    transition: all 0.3s;
}
.back-button:hover{
    border: 2px solid #C2A5F9CC;
    background-color: #B9B4C34D;
}

.next-button{
    cursor: pointer;
    background-color: #212529;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #212529;
    border-radius: 8px;
    padding: 7px 16px;
    font-size: 14px;
    font-family: 'Open Sans';
    transition: all 0.3s;
}
.next-button:hover{
    border: 4px solid #C2A5F9CC;
}
.next-button img{
    margin-left: 7px;
}
.span{
    color: red;
}


/* Chess experience */
.img-chessExp{
    background-image: url(../photos/chessExp.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-inputs{
    display: flex;
    width: 80%;
    gap: 20px;
}
.left-input, .right-input{
    width: 50%;
}
.dropdown{
    width: 100%;
    padding: 15px 15px;
    border: none;
    border-bottom: 1px solid rgb(218, 217, 217);
    outline: none;
    font-family: 'Open Sans';
    font-size: 20px;
}
.radios{
    font-size: 20px;
    font-family: 'Open Sans';
    margin: 70px 0px;
}
.answers{
    margin-top: 15px;
}


/* completed */
.img-chessboard{
    background-image: url(../photos/chessboard.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-container-completed{
   width: 54%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.back-main-page{
    margin-top: 30px;
    background-color: rgb(18, 132, 238);
    border: 3px solid orange;
    border-radius: 12px;
    color: white;
    padding: 15px;
    font-size: 18px;
    font-family: 'Open Sans';
}
/* responsive */
@media  (max-width: 1200px) {
    .left-container{
        display: none;
    }
    .right-container,.right-container-completed,
    .right-container-personalInfo, .right-container-chessExp{
        width: 100%;
    }
    .text-container, .left-input, .right-input{
        width: 80%;
    }   
    .select-inputs {
        display: block;
        width: 100%;
    }
  }

.error {
    border: 1px solid red;
}